Repository ygqygq2/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,mdx,css}": ["prettier --write"]
}

fix: resolve Next.js build errors - use static dynamic config for about page
  app/about/page.tsx
Due: eslint --fix, prettier --write

fix(about): 保持动态渲染策略为强制静态生成
  app/about/page.tsx
Due: eslint --fix, prettier --write

fix(deploy): 完善静态导出模式的判断与配置
  .github/workflows/deploy.yml
  app/blog/[...slug]/page.tsx
  app/blog/page/[page]/page.tsx
  app/tags/[tag]/page.tsx
  lib/mode-config.ts
  middleware.ts
Due: eslint --fix, prettier --write

refactor(config): 统一支持 EXPORT 为 "true" 或 "1" 的静态模式判断
  api/newsletter/route.ts
  app/blog/[...slug]/page.tsx
  app/blog/page/[page]/page.tsx
  app/tags/[tag]/page.tsx
  data/siteMetadata.cjs
  lib/mode-config.ts
  next.config.mjs
  package.json
  scripts/build-wsl.sh
  scripts/check-mode.mjs
  scripts/postbuild.mjs
  scripts/rss.mjs
Due: eslint --fix, prettier --write

workflow: 统一编译环境
  .github/workflows/deploy.yml
Due: none

workflow: 不缓存
  .github/workflows/deploy.yml
Due: none

ci(deploy): 优化GitHub Actions部署流程
  .github/workflows/deploy.yml
Due: none

fix: 博客有概率内容是其它文章的
  components/search/KBarProvider.tsx
  data/blog/2019/12/2019-12-25-《jenkins-2-x实践指南》读书笔记-触发pipeline执行/index.mdx
  lib/blog.ts
  scripts/generate-content.mjs
Due: eslint --fix, prettier --write

fix: 博客有概率内容是其它文章的
  components/search/EnhancedSearchModal.tsx
  components/search/SearchResultItem.tsx
  public/search-metadata.json
Due: eslint --fix, prettier --write

feat: toc 目录功能
  app/blog/[...slug]/page.tsx
  app/tag-data.json
  app/tags/[tag]/page.tsx
  app/tags/page.tsx
  components/MDXLayoutRenderer.tsx
  components/ui/TOCSidebar.tsx
  css/toc.css
  layouts/ListLayoutWithTags.tsx
  lib/blog.ts
  lib/compile-mdx.ts
  lib/content-cache.ts
  lib/toc.ts
  public/search-metadata.json
Due: eslint --fix, prettier --write

fix: 修复博客文章起始位置未对齐 logo
  app/blog/[...slug]/page.tsx
  app/layout.tsx
  components/Header.tsx
Due: eslint --fix, prettier --write

chore: 删除多余文件
  components/ui/TOCSidebar.tsx
  lib/mdx-compiler.ts
  lib/remark-toc-inline.mjs
  lib/remark-toc-inline.ts
Due: eslint --fix, prettier --write

feat: 目录标题自动高亮
  app/blog/[...slug]/page.tsx
  components/ui/TOCSidebar.tsx
  css/toc.css
Due: eslint --fix, prettier --write

chore: 整理拆分代码
  app/blog/[...slug]/page.tsx
  components/Pagination.tsx
  components/search/SearchModal.tsx
  components/search/SearchResultItem.tsx
  components/ui/TOCSidebar.tsx
  hooks/usePagination.ts
  hooks/useSearch.ts
  layouts/BaseListLayout.tsx
  layouts/ListLayout.tsx
  layouts/ListLayoutWithTags.tsx
  lib/blog-cache.ts
  lib/blog.ts
  lib/content-parser.ts
  lib/enhanced-search-engine.ts
  lib/enhanced-search-js.mjs
  lib/search/content-parser.ts
  lib/search/tokenizer.ts
  lib/search/utils.ts
  scripts/generate-content.mjs
Due: eslint --fix, prettier --write

fix: 代码拆分后的错误
  app/tag-data.json
  components/Pagination.tsx
  components/search/SearchModal.tsx
  components/search/SearchResultItem.tsx
  layouts/BaseListLayout.tsx
  lib/enhanced-search-js.mjs
  public/search-metadata.json
  tsconfig.json
Due: eslint --fix, prettier --write

chore: 分页跳转后不滚动到最上面
  hooks/usePagination.ts
  public/search-metadata.json
Due: eslint --fix, prettier --write

chore: 使用动态导入模块
  app/Main.tsx
  components/MDXComponents.tsx
  components/ui/BlogNewsletterForm.tsx
  components/ui/BlogNewsletterWrapper.tsx
  components/ui/NewsletterForm.tsx
  components/ui/NewsletterWrapper.tsx
  public/search-metadata.json
Due: eslint --fix, prettier --write

chore: 整理模块及配置
  app/blog/[...slug]/page.tsx
  components/MDXLayoutRenderer.tsx
  components/search/SearchModal.tsx
  components/search/SearchResultItem.tsx
  config/features.ts
  config/index.ts
  config/mode.ts
  lib/compile-mdx.ts
  lib/mode-config.ts
  lib/mode.ts
  public/search-metadata.json
Due: eslint --fix, prettier --write

fix: 变量名不统一
  components/search/EnhancedSearchModal.tsx
  public/search-metadata.json
Due: eslint --fix, prettier --write

fix: 变量名不统一
  components/search/EnhancedSearchModal.tsx
  components/search/SearchModal.tsx
  public/search-metadata.json
Due: eslint --fix, prettier --write

chore: 配置和说明更新
  config/README.md
  config/app.ts
  config/features.ts
  config/index.ts
  config/mode.ts
  config/system/defaults.ts
  config/system/manager.ts
  config/toc.ts
  config/types/index.ts
  lib/utils.ts
  public/search-metadata.json
Due: eslint --fix, prettier --write

fix: 标题匹配不准确
  components/ui/TOCSidebar.tsx
  lib/utils.ts
Due: eslint --fix, prettier --write

fix: 行内 toc 不展示问题
  components/MDXLayoutRenderer.tsx
  components/ui/TOCInline.tsx
  data/blog/2024/04/2024-04-19-给你的-vscode-扩展增加测试设置/index.mdx
  data/blog/2024/07/2024-07-12-一套-shell-脚本管理自签证书/index.mdx
Due: eslint --fix, prettier --write

fix: 评论功能展示问题
  .env.example
  .env.local
  .gitignore
  app/blog/[...slug]/page.tsx
  app/tag-data.json
  components/Comments.tsx
  data/siteMetadata.cjs
  docs/02-deployment/02-environment-variables.md
  docs/02-deployment/03-comments-setup.md
  docs/02-deployment/README.md
  docs/README.md
  package.json
  pnpm-lock.yaml
  public/search-metadata.json
Due: eslint --fix, prettier --write

chore: 评论功能使用 title
  app/blog/[...slug]/page.tsx
  components/Comments.tsx
  data/siteMetadata.cjs
  docs/02-deployment/03-comments-setup.md
Due: eslint --fix, prettier --write

chore: 删除多余 lint-staged 配置
  .lint-staged.json
Due: prettier --write

chore: add blog
  data/blog/2025/12/2025-12-22-HP-DL360-Gen10-服务器安装-Windows-Server/images/1766642010697.png
  data/blog/2025/12/2025-12-22-HP-DL360-Gen10-服务器安装-Windows-Server/images/1766642365774.png
  data/blog/2025/12/2025-12-22-HP-DL360-Gen10-服务器安装-Windows-Server/images/1766643774464.png
  data/blog/2025/12/2025-12-22-HP-DL360-Gen10-服务器安装-Windows-Server/index.mdx
  data/blog/2025/12/让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766735915519.png
  data/blog/2025/12/让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766736125028.png
  data/blog/2025/12/让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766736322229.png
  data/blog/2025/12/让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766736655167.png
  data/blog/2025/12/让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766736843551.png
  data/blog/2025/12/让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766736950444.png
  data/blog/2025/12/让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766736989702.png
  data/blog/2025/12/让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766737035733.png
  data/blog/2025/12/让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766737065730.png
  data/blog/2025/12/让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766737134481.png
  data/blog/2025/12/让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766737803078.png
  data/blog/2025/12/让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766738041145.png
  data/blog/2025/12/让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766738338359.png
  data/blog/2025/12/让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766738441464.png
  data/blog/2025/12/让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766738488178.png
  data/blog/2025/12/让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766738778064.png
  data/blog/2025/12/让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766738872159.png
  data/blog/2025/12/让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766738900093.png
  data/blog/2025/12/让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766739416338.png
  data/blog/2025/12/让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766739580522.png
  data/blog/2025/12/让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/index.mdx
  public/blog-assets-manifest.json
Due: prettier --write

chore: update
  data/blog/2025/12/让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/index.mdx
Due: prettier --write

chore: 更新博客目录
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766735915519.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766736125028.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766736322229.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766736655167.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766736843551.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766736950444.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766736989702.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766737035733.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766737065730.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766737134481.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766737803078.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766738041145.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766738338359.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766738441464.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766738488178.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766738778064.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766738872159.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766738900093.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766739416338.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766739580522.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/index.mdx
  public/blog-assets-manifest.json
Due: prettier --write

[ImgBot] Optimize images
  data/blog/2024/09/2024-09-08-ElK-8-收集-MySQL-慢查询日志并通过-ElastAlert2-告警至飞书/images/1724981875686.png
  data/blog/2025/12/2025-12-22-HP-DL360-Gen10-服务器安装-Windows-Server/images/1766642010697.png
  data/blog/2025/12/2025-12-22-HP-DL360-Gen10-服务器安装-Windows-Server/images/1766642365774.png
  data/blog/2025/12/2025-12-22-HP-DL360-Gen10-服务器安装-Windows-Server/images/1766643774464.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766735915519.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766736125028.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766736322229.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766736655167.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766736843551.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766736950444.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766736989702.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766737035733.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766737065730.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766737134481.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766737803078.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766738041145.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766738338359.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766738441464.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766738488178.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766738778064.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766738872159.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766738900093.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766739416338.png
  data/blog/2025/12/2025-12-26-让-AI-编程助手更智能-Turbo-AI-Rules-扩展使用指南/images/1766739580522.png
  data/logo.svg
  public/static/favicons/favicon-32x32.png
  public/static/favicons/mstile-150x150.png
  public/static/favicons/safari-pinned-tab.svg
  public/static/images/logo.png
Due: none

chore: update 一个细节
  data/blog/2024/07/2024-07-10-kubesphere-kubernetes-镜像拉取失败问题处理/index.mdx
Due: prettier --write

chore: add a blog
  data/blog/2025/12/2025-12-31-envoy-gateway-部署与使用/index.mdx
  public/blog-assets-manifest.json
Due: prettier --write

chore: update 一个细节
  data/blog/2025/12/2025-12-31-envoy-gateway-部署与使用/index.mdx
Due: prettier --write

chore: 增加 gatewayclass
  data/blog/2025/12/2025-12-31-envoy-gateway-部署与使用/index.mdx
Due: prettier --write

chore: add blog
  data/blog/2026/01/2026-01-21-AI-Skills-时代的必备工具-Turbo-AI-Rules-助力你的智能编程之旅/images/打开规则同步页.png
  data/blog/2026/01/2026-01-21-AI-Skills-时代的必备工具-Turbo-AI-Rules-助力你的智能编程之旅/images/打开适配器管理.png
  data/blog/2026/01/2026-01-21-AI-Skills-时代的必备工具-Turbo-AI-Rules-助力你的智能编程之旅/images/添加自定义适配器.png
  data/blog/2026/01/2026-01-21-AI-Skills-时代的必备工具-Turbo-AI-Rules-助力你的智能编程之旅/images/自定义适配器配置.png
  data/blog/2026/01/2026-01-21-AI-Skills-时代的必备工具-Turbo-AI-Rules-助力你的智能编程之旅/images/选择规则和适配器.png
  data/blog/2026/01/2026-01-21-AI-Skills-时代的必备工具-Turbo-AI-Rules-助力你的智能编程之旅/index.mdx
Due: prettier --write
